.ng-inline-1 { position:relative; z-index:1; }
.ng-inline-2 { display:block; }
.ng-inline-3 { width:100%; background: #22D3EE; }
.ng-inline-4 { color: #22D3EE; }
.ng-inline-5 { width:90%; background: #22D3EE; }
.ng-inline-6 { margin-top: 24px; }
