.ng-inline-1 { position:relative; z-index:1; }
.ng-inline-2 { color:rgba(52,211,153,0.05) }
.ng-inline-3 { flex:1;min-width:0; }
.ng-inline-4 { border-color:rgba(52,211,153,0.2);background:rgba(52,211,153,0.05); }
.ng-inline-5 { width:58%; }
.ng-inline-6 { width:62%; }
.ng-inline-7 { width:40%; }
.ng-inline-8 { width:100%; }
.ng-inline-9 { width:55%; }
.ng-inline-10 { width:75%; }
.ng-inline-11 { width:35%; }
.ng-inline-12 { width:65%; }
.ng-inline-13 { width:20%; }
